.conversation-message {
  background-color: var(--background);
  &.warning {
    background-color: #fff4de;
    color: #e4570c;
    &:hover {
      background-color: #f6ebd5;
    }
  }

  &.error {
    background-color: #fff4de;
    color: #e4570c;
    &:hover {
      background-color: #f6ebd5;
    }
  }

  &.success {
    background-color: #defce9;
    color: #219653;
    &:hover {
      background-color: #c9e6d4;
    }
  }

  &.info {
    background-color: #dcebfe;
    color: #1559ea;
    &:hover {
      background-color: #cad9eb;
    }
  }
}

.message-label {
  background-color: var(--panel-background);
  &.warning,
  &.error {
    background-color: #e4570c;
    color: white;
  }
  &.success {
    background-color: #219653;
    color: white;
  }
  &.info {
    background-color: #1559ea;
    color: white;
  }
}
