.workflow-wrap {
  .ant-card-body {
    padding: 12px;
  }
}

.animate-spin-workflow {
  animation: spin-workflow 1s linear infinite;
}

@keyframes spin-workflow {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
